{% url 'IWatch:IWatch-main' as path_to_posts%}
{% url 'profiles:myprofile' as path_to_myprofile %}


{% url 'profiles:all-profiles' as path_to_all_profiles %}
{% url 'profiles:my-invites' as path_to_my_invites %}
{% url 'profiles:sent-invites' as user_friend_request %}
{% url 'zakat_posts:main-post-view' as zakat_posts_home %}
{% url 'zakat_posts:satisfied' as satisfied %}


{% load static %}
{% load notifications_tags %}

<link rel="stylesheet" type="text/css" href={% static 'css/navbar.css' %}> 


<div class="navbar fluid">
    <ul>
        <li>
            {% if request.user.is_authenticated %}
            <a href="{{zakat_posts_home}}" class="{% if request.path == path_to_posts %}{% endif %} item">
                <img src="{% static 'Logos/black-logo.png' %}" id='main-logo'>
            </a>
            {% else %}
            <!--for sign up-->
            <a href="#" class="item"><h1>Savior</h1></a>
            {% endif %}
        </li>

        
        <li>
            {% if request.user.is_authenticated %}
            <a href="{{path_to_posts}}" class="{% if request.path == path_to_posts %}active{% endif %} item">
                <i class="fa-solid fa-play"></i>
                IWatch
            </a>
            {% endif %}
        </li>

        <li>
            {% if request.user.is_authenticated %}
            <a href="{{zakat_posts_home}}" class="{% if request.path == zakat_posts_home %}active{% endif %} item">
                <img src="{% static 'Logos/black-zakat-icon.png' %}" id='zakat-icon'>
                Zakat
            </a>
            {% endif %}

        </li>

        <li>
            {% if request.user.is_authenticated %}
            <a href="{{satisfied}}" class="{% if request.path == satisfied %}active{% endif %} item">
                <i class="check icon"></i>Satisfied
            </a>
            {% endif %}
        </li>

        <li>
            {% if request.user.is_authenticated %}
            <a href="{{path_to_all_profiles}}" class="{% if request.path == path_to_all_profiles %}active{% endif %} item">
                <i class="users icon"></i>People
            </a>
            {% endif %}
        </li>
        
        <li>
            {% if request.user.is_authenticated %}
            <div class="item" >
                <div class="ui inline dropdown scrolling">
                    <i class="bell inverted icon large" ></i>
                    {% notifications_unread as unread_count %}
                    {% if unread_count %}
                    <div class="floating ui tiny  red label"><strong>{{ unread_count }}</strong> 
                    </div>
                    {% endif %}
                    <div class="menu">
                        <!--Delete ALL Notificaitons-->
                        <div class="ui segment red raised">
                        <a href="{% url 'DeleteAllNotifications'  %}" id='delete_all'>
                            <button type='submit' name='DeleteAllNotifications' 
                            class="ui button bwhite-lg ">Delete All</button></a>
    
                        <!--Read All notifications-->
                        <a href="{% url 'ReadAllNotifications'  %}">
                            <button type='submit' name='ReadAllNotifications' 
                            class="ui button bwhite-lg ">Read All</button></a>
                        <div class="ui divider" style="margin: 5px 0;"></div>
    
                        {% for qs in user.notifications.unread %}
                        <div class="ui list segment raised red" id='noti_box'>  
                                <div class="item mb">
                                {% for profile in profiles  %}
                                    {% if qs.actor == profile.user %}
                                        <div class="ui header"> 
                                        <img class='ui circular image' src="{{profile.picture.url}}">
                                        {{ qs.actor.full_name}}
                                        </div>
                                        <div class="description">
                                            {{ qs.verb }}   
                                        </div>
                                        <div>
                                        {% if 'following' in qs.verb %}
                                            {% if profile.user not in my_profile.following.all %}
                                                <form action="{% url 'profiles:follow-unfollow-profile' %}" method='POST' class='follow_unfollow' id='{{profile.pk}}'>
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value={{profile.pk}}>
                                                    <button class='ui mini basic blue button' type='submit' id='status{{profile.pk}}'>
                                                        Follow Back
                                                    </button>
                                                </form>
                                            {% else  %}
                                                <form action="{% url 'profiles:follow-unfollow-profile' %}" method='POST' class='follow_unfollow' id='{{profile.pk}}'>
                                                    {% csrf_token %}
                                                    <input type="hidden" name="profile_pk" value={{profile.pk}}>
                                                    <button class='ui mini basic green button' type='submit' id='status{{profile.pk}}'>
                                                        Following
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                        <br>
                                        <div class="description">
                                            {{ qs.timestamp|timesince }}
                                            
                                        </div>
                                    {% endif %}
                                {% endfor %}
    
                                <div>
                                    {% if request.user.is_authenticated %}
                                    {% comment %}<form action="{% url 'notifications_read' %}" id='{{qs.pk}}' class='read_one' >
                                            {% csrf_token %}
                                            <button type='submit' id='{{qs.pk}}' name='read'
                                            class="ui button bwhite-lg ">Read</button>
                                        </form> {% endcomment %}
                                        
                                        <a href="{% url 'notifications_delete' qs.pk %}">
                                            <button type='submit' name='delete' 
                                            class="ui button bwhite-lg ">Delete</button>
                                        </a>
                                        {% endif %}
                                        </div>
                                    <div class="ui divider" style="margin: 5px 0;"></div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </li>

        <li>
            {% if request.user.is_authenticated %}
            <a href="{{path_to_myprofile}}" class="{% if request.path == path_to_myprofile %}active{% endif %} item">
                <img src="{{my_profile.picture.url}}"  class="profile_img">&nbsp;{{request.user.username}}
            </a>
            {% endif %}
        </li>

        <li id='menu'>
            {% if request.user.is_authenticated %}
            <div class="ui floating dropdown icon button teal">
                <i class="align justify icon"></i>
                <div class="menu">
                    <a href="{% url 'account_logout' %}" class="item">
                        <i class="sign out alternate icon"></i>Logout
                    </a>
                    <!--account change password-->
                    <a href="{% url 'account_change_password' %}" class="item">
                        <i class="key icon"></i>Change Password
                    </a>

                    <!--account Report Savior Problem-->
                    <div class="ui tiny modal" id='SaviorIssues'>
                        <div class="header">Seeker Information</div>
                        <div class="content">
                            <form action="{% url 'support:ReportSaviorProblemFunc'%}" method=post>
                                {% csrf_token %}
                                <input type="text" placeholder='What would you like to suggest?' name='problem'>
                                <button type='submit' class='ui basic blue  button fluid'>Submit</button>
                            </form>
                        </div>
                    </div>
                    <button class="item" onclick='SaviorIssues()'>Report Savior Problem</button>

                    <!--account suggest Something-->
                    <div class="ui tiny modal" id='Suggest'>
                        <div class="header">Seeker Information</div>
                        <div class="content">
                            <form action="{% url 'support:Sugg2SaviorFunc'%}" method=post>
                                {% csrf_token %}
                                <input type="text" placeholder='What would you like to suggest?' name='suggestion'>
                                <button type='submit' class='ui basic blue  button fluid'>Submit</button>
                            </form>
                        </div>
                    </div>
                    <button class="item" onclick='Suggest()'>Give us some suggestions</button>
                </div>
            </div>
            {% endif %}
        </li>
        <li>

            <!--for sign up-->
            {% if not request.user.is_authenticated %}
                <li style='marign-right:2em;'>
                    <button class='ui primary button'>
                        <a href="{% url 'account_login' %}" class="ui item">Login</a>
                    </button>
                    <button class='ui primary button'>
                        <a href="{% url 'account_signup' %}" class="ui item">Signup</a>
                    </button>
                </li>

            {% endif %}
        </li>

    
    </ul>
</div>
<!--Notification-->
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>



<script>
    // ========================= Follow / Unfollow ======================
    $('.follow_unfollow').submit(function(e){
    e.preventDefault()
    
    const profile_pk = $(this).attr('id')
    const url = $(this).attr('action')

    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'profile_pk':profile_pk,
        }, 
        success: function(data) {
            $(`#status${profile_pk}`).html(data['status'])
        
        }
    })
})
function Suggest(){
    $('#Suggest').modal('show');
}

function SaviorIssues(){
    $('#SaviorIssues').modal('show');
}   
</script>