{% extends 'base.html' %}
{% load static %}

{% block title %}
  IWatch
{% endblock title %}

{% block css %}
<link rel="stylesheet" type="text/css" href={% static 'IWatch/style.css' %}>
{% endblock css %}

{% block content %}



<div class='ui container-fluid'>
    <div class="ui grid">
      
      <div class="row">
        
        <div class="three wide column">
          <div class="sidebar">
          <div class="ui segment scroll">
            <a href="{% url 'IWatch:top-IWatch'  %}">
              <button class="ui secondary button">Top IWatched</button>
            </a>
            <hr>
            <h3>You Follow them</h3>
            {% for i in following_profiles %}

            <div class="ui celled list">
              <div class="item">
                <img class="ui avatar image" src="{{i.picture.url}}">
                <div class="content">
                  <a href="{% url 'profiles:profile-detail-view' i.pk %}"><div class="header">{{i.user.full_name}}</div></a>
                </div>
              </div>
            </div>
            {% endfor %}
            <h3>You might Follow</h3>
              {% for i in random_people %}
              <div class="ui celled list">
                <div class="item">
                  <img class="ui picture image" src="{{i.picture.url}}">
                  <div class="content">
                    <a href="{% url 'profiles:profile-detail-view' i.pk %}"><div class="header">{{i.user.full_name}}</div></a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="thirteen wide column">
          <div class="ui grid ">
            
            <div style='margin-top:2em;' class="row ">
              <!--========================= Search Bar ====================-->
              <div class="ui ten wide column centered aligned"> 
                <form action="{% url 'IWatch:search-IWatch' %}" method="GET"> 
                    <div style='width: 45em;' id='search_bar' class="ui right action left icon input">
                        <i class="search icon"></i>
                        <input  type="text" name='query' id='search_here' value='{{ request.GET.query }}' placeholder="name of a Video by title, name, descriptions, username..."> 
                        <a href="{% url 'IWatch:IWatch-main' %}">
                          <i id='cross' class="fa-solid fa-xmark ui large"></i>
                        </a>
                        <button type='submit' class="ui button">Search</button>
                        
                    </div>
                </form>
              </div>
              <!--========================= Upload Button ====================-->
              <div class="ui  four wide column ">
                <a href="{% url 'IWatch:upload-IWatch' %}">
                  <button class='ui right floated secondary large button m-2'>
                    <i class='upload icon'></i>
                    Upload
                  </button>
                </a>
              </div>

            </div>

            <div class="row">
              {% if qs %}
              <div style="width:95%; margin-left:2.5em; font-size:10px;" class="ui black raised segment">
                <h4>Videos from people you follow</h4>
              </div>
              {% endif %}
              <!--========================= video cards ====================-->
            <div style='margin-left:3em;' class="ui four cards">
              {% for i in qs %} 
                <div id='card_style' class="card">
                    <a href="{% url 'IWatch:Show-IWatch' i.pk %}">
                      <div class="card_image">
                        <img src="{{ i.thumbnail.url }}"> 
                      </div>
                    </a>
                    <div class="ui grid">
                      <div class="row">
                        <div class="four wide column">
                          <div class="user-img">
                            <img src="{{ i.creator.picture.url }}">
                          </div> 
                        </div>
                        <div class="twelve wide column">
                          <div class="card_title">
                            <p>{{i.title|truncatechars:50}}</p>
                          </div> 
                          <div class="footer">
                            <div class="creator_name">
                              <a href="{% url 'profiles:profile-detail-view' i.creator.pk %}"><p>{{i.creator.user.full_name}}</p></a>
                            </div>
                            <div class="info">
                              {{i.current_hit_count}} Views
                              {{i.creator.get_follower_no}} Followers
                              {{i.created|timesince}} ago
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                </div>
              {% endfor %}
            </div>

            <div style="width:95%; margin-left:2.5em; font-size:10px;" class="ui black raised segment"><h4>Suggestions for you</h4></div>           
            <div style='margin-left:3em;' class="row">
                <div  class="ui four cards">
                  {% for i in random_objects %}
                    <div id='card_style' class="card">
                        <a href="{% url 'IWatch:Show-IWatch' i.pk %}">
                          <div class="card_image">
                            <img src="{{ i.thumbnail.url }}">
                          </div>
                        </a>
                        <div class="ui grid">
                          <div class="row">
                            <div class="four wide column">
                              <div class="user-img">
                                <img src="{{ i.creator.picture.url }}">
                              </div> 
                            </div>
                            <div class="twelve wide column">
                              <div class="card_title">
                                <p>{{i.title|truncatechars:50}}</p>
                              </div> 
                              <div class="footer">
                                <div class="creator_name">
                                  <a href="{% url 'profiles:profile-detail-view' i.creator.pk %}"><p>{{i.creator.user.full_name}}</p></a>
                                </div>
                                <div class="info">
                                  {{i.get_hit_count}} Views
                                  {{i.creator.get_follower_no}} Followers
                                  {{i.created|timesince}}ago
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                    </div>
                  {% endfor %}
                </div>
            </div>

          </div>
          
        </div>
      
      
      </div>
    </div>
  </div>
</div>


  {% comment %} <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>

  {% get_hit_count_js_variables for IWatch as hitcount %}
  <script type="text/javascript">
  jQuery(document).ready(function($) {
    $.postCSRF("{{ hitcount.ajax_url }}", { hitcountPK : "{{ hitcount.pk }}" })
      .done(function(data){
        $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
        $('#hit-response').text(data.hit_message);
    }).fail(function(data){
        console.log('POST failed');
        console.log(data);
    });
  });
  </script> {% endcomment %}

{% endblock content %}