{% extends 'base.html' %}
{% load static %}

{% block title %}
  IWatch
{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'IWatch/style.css' %}>

  <div class='ui container-fluid'>
    <div class="ui grid">
      <div class="row">
        <div class="three wide column">
          <div class="sidebar ">
          <div class="ui segment scroll">
            <h3>You Follow them</h3>
            {% for i in following_profiles %}
            <div class="ui celled list">
              <div class="item">
                <img class="ui avatar image" src="{{i.avatar.url}}">
                <div class="content">
                  <a href="{% url 'profiles:profile-detail-view' i.pk %}"><div class="header">{{i.user.full_name}}</div></a>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
          </div>
        
        </div>

        <div class="thirteen wide column">
          <div class="ui grid ">
            
            <div class="row ">
              <!--========================= Search Bar ====================-->
              <div class="ui eight wide column centered aligned"> 
                <form action="{% url 'profiles:search-user' %}" method="GET"> 
                    <div style='width: 45em;' class="ui right action left icon input">
                        <i class="search icon"></i>
                        <input  type="text" name='query' id='search_here' value='{{ request.GET.query }}' placeholder="name of a friend...">
                        <button type='submit' class="ui button">Search</button>
                        <a href="{% url 'profiles:all-profiles' %}">
                          <i class="black window close outline huge icon"></i>
                        </a> 
                    </div>
                </form>
              </div>
              <!--========================= Upload Button ====================-->
              <div class="ui  four wide column ">
                <a href="{% url 'IWatch:upload-IWatch' %}">
                  <button class='ui right floated secondary large button m-2'>
                    <i class='upload icon'></i>
                    Upload
                  </button>
                </a>
              </div>

            </div>

            <h1>Video from People you follow</h1>
            <div class="row">
              <!--========================= video cards ====================-->
              <div class="ui four cards">
                {% for i in qs %}
                <div class="card">
                  <a href="{% url 'IWatch:Show-IWatch' i.pk %}">
                    <div class="ui small image">
                      <center><img src="{{ i.thumbnail.url }}"></center>
                    </div>              
                    <div class='content'>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus explicabo molestiae, doloremque minima 
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>

            </div>

            <h2>Suggestions (Random for now, will change in near future)</h2>
            <div class="row">
              <div class="ui four cards">
                {% for i in random_objects %}
                <div class="card">
                  <a href="{% url 'IWatch:Show-IWatch' i.pk %}">
                    <div class="ui small image">
                      <center><img src="{{ i.thumbnail.url }}"></center>
                    </div>              
                    <div class='content'>
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim accusamus explicabo molestiae, doloremque minima 
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          
        </div>
      
      
      </div>
    </div>
  </div>
{% endblock content %}