{% extends 'base.html' %}
{% load static %}

{% block title %}
  Show-IWatch
{% endblock title %}
{% comment %} # remember to load the tags first {% endcomment %}
{% load hitcount_tags %}


{% block content %}  
<link rel="stylesheet" type="text/css" href={% static 'IWatch/style.css' %}>  
<link rel="stylesheet" type="text/css" href={% static 'IWatch/video.css' %}>  

<link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
<link rel="stylesheet" href="path/to/plyr.css" />



<div class="ui container-xl">
  <div class="ui grid">
    <div style='margin-top:2em;' class="row">
      
      <div class="twelve wide column">
        <div class="ui grid">
          <!--Video Player-->
          <div class="row">
            
              {% if not hitcount.hit_counted  %} <!--it is false, when watched, else true-->
              <div class='video_played'>
              <video  id='player' controls></video>
              </div>

              {% else %}
              <div>
                <video id='player' controls></video>
              </div>

              {% endif %}
              {% comment %} <video width="500" height="700" controls>
                <source src="{{IWatch.video.url}}" type="video/mp4">
                Error Message
              </video> {% endcomment %}
          </div>
          
          <!--info-->
          <div  class="row">
            
              <div class="ui gird">
                <!--User header Info-->
                <div class="row">
                  
                  <div id='user_info' class="item">
                    <p class='title'>{{IWatch.title}}</p>
                    <div class="sixteen wide column">
                      <div class="ui grid">
                        <div class="row">
                          <div class="two wide column">
                            <div id='first_head'>
                              <a href="{% url 'profiles:profile-detail-view' IWatch.creator.pk %}">
                                <img src="{{IWatch.creator.picture.url}}">
                              </a>
                            </div>
                          </div>
                          
                          <div class="three wide column">
                            <div class='second_head'>
                              <p>{{IWatch.creator.user.full_name}}</p>
                              <a href="{% url 'profiles:profile-detail-view' IWatch.creator.pk %}">
                                @{{IWatch.creator.user.username}}
                              </a>  
                              <span>{{IWatch.creator.get_follower_no}} Followers
                                <br>{% if hitcount.total_hits > 1 %}{{hitcount.total_hits}} views{% else %} 1 view{% endif %} 
                              </span>
                            </div>
                          </div>

                          <div class="four wide column">
                            <div class='follow_btn'>
                              {% if request.user == IWatch.creator.user %}
                              <a href="{% url 'IWatch:post-update' IWatch.pk %}"><button class="ui  secondary small button ">Update</button></a>
                              <a href="{% url 'IWatch:post-delete' IWatch.pk %}"><button class="ui secondary small button  ">Delete</button></a>
                            
                              {% elif IWatch.creator.user in my_profile.get_following %}
                                <div class="ui right floated">
                                  <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{IWatch.creator.pk}}'>
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{IWatch.creator.pk}}>
                                    <button class='ui large secondary button' type='submit' id='status{{IWatch.creator.pk}}'>Unfollow</button>
                                  </form>
                                </div>
                              {% elif IWatch.creator in my_profile.get_followers%}
                                <div class="ui right floated">
                                  <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{IWatch.creator.pk}}'>
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{IWatch.creator.pk}}>
                                    <button class='ui large secondary button' type='submit' id='status{{IWatch.creator.pk}}'>Follow Back</button>
                                  </form>
                                </div>
                              {% else %}
                                <div class="ui right floated">
                                  <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{IWatch.creator.pk}}'>
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{IWatch.creator.pk}}>
                                    <button class='ui large secondary button' type='submit' id='status{{IWatch.creator.pk}}'>Follow</button>
                                  </form>
                                </div>
                              {% endif %}
                            </div>
                          </div>  
                          
                          <div class="three wide column">
                            <div class="ui grid">
                              <div class="row">
                                <div class="eight wide column">
                                  <div class='like-button'>
                                    <form action="{% url 'IWatch:like' %}" method="POST" class='like-form' id='{{IWatch.id}}'>
                                      {% csrf_token %}
                                      <input type="hidden" name="post_id" value={{IWatch.id}}>
                                      <button type="submit" class='ui upvote_btn'>
                                      <i class="fa-solid fa-thumbs-up "></i>
                                      <p class="like-count{{IWatch.id}}">{{IWatch.liked}}</p>
                                      </button>
                                    </form>
                                  </div>
                                </div>
                                <div class="eight wide column">
                                  <div class='dislike-button'>
                                    <form action="{% url 'IWatch:dislike' %}" method="POST" class='dislike-form' id='{{IWatch.id}}'>
                                      {% csrf_token %}
                                      <input type="hidden" name="post_id" value={{IWatch.id}}>
                                      <button type="submit" class='upvote_btn'>
                                      <i class="fa-solid fa-thumbs-down"></i>
                                      <p class="dislike-count{{IWatch.id}}">{{IWatch.disliked}}</p>
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                              
                              
                          </div>
                              
                          <div class="four wide column">
                            <div class="ui blue labels">
                            <div class="ui grid">
                              <div class="row">
                                <div class="six wide column">
                                    <div class="ui small modal" id='payment'>
                                      <div class="header">Payment Details</div>
                                        <div class="content">
                                            <p>Content Creator: <strong>{{IWatch.creator.user.full_name}}</strong></p>
                                            <p><strong>Bank Name: </strong> {{IWatch.creator.bank_details}}</p>
                                            <p><strong>Savior</strong> payment method is not available right now, soon it will be there, but for now you can pay him directly</p>
                                            <p>Kindly let us know how mush have you paid to the creator?</p>
                                            <form action="{% url 'IWatch:payment'%}" method=post>
                                              {% csrf_token %}
                                              <input type="hidden" name="post_id" value={{IWatch.pk}}> 
                                              <input type="Number" placeholder='How much have you paid?' id='payment' name='amount' id={{IWatch.pk}} width='400px'>
                                              <button type='submit' class='ui basic blue button fluid'>Submit</button>
                                          </form>
                                          </div>
                                    </div>
                                  <button class='ui secondary button' onclick='showBankDetails()'>Pay</button>
                                </div>
                                <div class="six wide column">
                                  <div class="ui small modal" id='Report'>
                                    <div class="header">Payment Details</div>
                                      <div class="content">
                                        <div class="content">
                                          <h3>You are reporting Against User ({{IWatch.creator}})</h3>
                                          <h5>Please write your issue in details, if we find it valid, we will take action against the user.</h5><br>
                                        </div> 
                                          <form action="{% url 'support:ReportIWatchFunc'%}" method=post>
                                            {% csrf_token %}
                                            <input type="hidden" name="iw_id" value={{IWatch.pk}}> 
                                            <input type="text" placeholder='What is your issue?' id='payment' name='problem' id={{IWatch.pk}} width='400px'>
                                            <button type='submit' class='ui basic blue button fluid'>Submit</button>
                                        </form>
                                        </div>
                                  </div>
                                  <button class='ui secondary button' onclick='Report()'>Report</button>
                                </div>
                                <div class="four wide column">
                                  {% if not hitcount.hit_counted  %}
                                  <i class="fa-solid fa-eye" style="margin-left:1em;;"></i>
                                  {% endif %}    
                                </div> 

                              </div>
                            </div>    
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--Video descriptions-->
                <div class="row">
                  <div class="sixteen wide column">
                    <div style='width:60em' class="ui black raised segment fluid">
                      <p>{{IWatch.description}}</p>
                    </div>
                  </div>
                </div>

              </div>

          </div>
          
          <!--Video comments-->
          <div class="row">
            <div class="sixteen wide column">
                <div class="fluid">
                  <form  method="POST"  id='{{IWatch.id}}' class='commentForm' >
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value={{IWatch.id}}>
                    <input type="text" class="form-control" id='comment{{IWatch.id}}'  placeholder="Add your comment" upd="1" uid="2" />
                    <button type="submit"  class="ui primary button commentbtn{{IWatch.id}}">Send</button>
                  </form>
                </div>

                <details class='ui raised red segment'>
                  <summary  id='comment_total{{IWatch.id}}'><b>{{ IWatch.get_total_comments }} Comments</b></summary >
                  <div class="comment_scroll ui black raised segment ">
                  <div class="details-content">
                          {% if IWatch.IWatch_comments.all %}
                              {% for c in IWatch.IWatch_comments.all %}
                                  <div class="ui green raised segment" id='c_body'>
                                      <img class="ui mini avatar image" src={{c.user.picture.url}}>
                                      <span id='c_user{{IWatch.id}}'>{{ c.user }}</span>
                                      <p id='c_date{{IWatch.id}}'>{{c.created |timesince}}</p>
                                      <div class='' id='c_body{{IWatch.id}}' >{{ c.body }}</div>
                                  </div>
                              {% endfor %}
                          {% endif %}
                      </div>
                  </div>
                </details>
              </div>
            </div>

        </div>
      </div>

      <!--Random Videos-->
      <div class="four wide column">
        <style>
          #card_style{
            width: 270px !important;
            height: 250px;
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
            border: 1px solid #000;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            overflow: scroll;
            overflow-x: hidden;
            overflow-y: hidden;
            margin-bottom: 1em;
          }
          
          .card_image img{
            {% comment %} width: 100%; {% endcomment %}
            {% comment %} height: 130px; {% endcomment %}
            border-radius: 6px;
          }
          
          .user-img img{
            width: 50px;
            height: 50px;
            margin-left:20px;
            margin-top:20px;
            border-radius: 50%;
            /* margin-right: 10px; */
          }
          
          .card_title{
            width:100%;
            font-weight: bold;
            font-size: 18px;
            margin-top: 10px;
            /* margin-left: 5px; */
            line-height: 1.7em;
            color:rgb(4, 4, 4) ;
          }
          
        </style>
        {% for i in random_objects %}
        <div id='card_style' class="card">
            <a href="{% url 'IWatch:Show-IWatch' i.pk %}">
              <div class="card_image">
                <img src="{{ i.thumbnail.url }}">
              </div>
            </a>
            <div class="ui grid">
              <div class="row">
                <div class="four wide column">
                  <div class="user-img">
                    <img src="{{ i.creator.picture.url }}">
                  </div> 
                </div>
                <div class="twelve wide column">
                  <div class="card_title">
                    <p>{{i.title|truncatechars:50}}</p>
                  </div> 
                  <div class="footer">
                    <div class="creator_name">
                      <a href="{% url 'profiles:profile-detail-view' i.creator.pk %}"><p>{{i.creator.user.full_name}}</p></a>
                    </div>
                    <div class="info">
                      {{i.current_hit_count}} Views
                      {{i.creator.get_follower_no}} Followers
                      {{i.created|timesince}}ago
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      {% endfor %}
      </div>
      
    </div>
  </div>
</div>



<!--Script for plyr-->
<script src="https://cdn.plyr.io/3.7.3/plyr.polyfilled.js"></script>
{% comment %} <script src="https://cdn.plyr.io/3.7.3/plyr.js"></script> {% endcomment %}
{% comment %} <script src='https://cdnjs.cloudflare.com/ajax/libs/plyr/3.7.3/plyr.min.js'></script> {% endcomment %}
<script>

  var controls = [
  'play-large', // The large play button in the center
  'restart', // Restart playback
  'rewind', // Rewind by the seek time (default 10 seconds)
  'play', // Play/pause playback
  'fast-forward', // Fast forward by the seek time (default 10 seconds)
  'progress', // The progress bar and scrubber for playback and buffering
  'current-time', // The current time of playback
  'duration', // The full duration of the media
  'mute', // Toggle mute
  'volume', // Volume control
  //'captions', // Toggle captions
  'settings', // Settings menu
  'pip', // Picture-in-picture (currently Safari only)
  'airplay', // Airplay (currently Safari only)
  //'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
  'fullscreen', // Toggle fullscreen
  'advertisement',
];
  const player = new Plyr('#player',  {
    controls,
    ratio	: '10:5',
    loop: { active: false },
    seekTime: 10,
    disableContextMenu: true,
    tooltips: { controls: true, seek: true},
    captions	: { active: true, language: 'en', update: true },

    ads: {
      enabled: false,
      publisherId: '',
      tagUrl: '' ,
    },
    mediaMetadata: {
      title: '{{IWatch.title}}',
      artist: '{{IWatch.creator.user.full_name}}',
      album: '',
    },
  });
  player.source = {
    type: 'video',
    title: '{{IWatch.title}}',
    sources: [
      {
        src: '{{IWatch.video.url}}',
        type: 'video/mp4',
        size: 720,
      },
      {
        src: '{{IWatch.video.url}}',
        type: 'video/webm',
        size: 1080,
      },
    ],
    poster: '{{ IWatch.thumbnail.url }} ',
    previewThumbnails: {
      src: '{{ IWatch.thumbnail.url }}',
    },
    tracks: [
      {
        kind: 'captions',
        label: 'English',
        srclang: 'en',
        //src: '/path/to/captions.en.vtt',
        default: true,
      },
      {
        kind: 'captions',
        label: 'Urdu',
        srclang: 'ur',
        //src: '/path/to/captions.ur.vtt',
      },
    ],
  };

  player.on('seeking', (event) => {
    //increase seeking time
    player.currentTime += 10;
  });

  player.rewind(4);
  player.forward(4);


</script>

<script>
// =========================== Dislike Button ==========================
// =====================================================================
$('.dislike-form').submit(function(e){
  e.preventDefault()
  
  const post_id = $(this).attr('id')
  const url = $(this).attr('action')
  console.log("***************", post_id, url)
  
  $.ajax({
      type: 'POST',
      url: url,
      data: {
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
          'post_id':post_id,
      }, 
      success: function(data) {
          console.log(data['dislike'], '*************')
          if (parseInt(data['dislike']) > 0) {
              console.log(parseInt(data['dislike']), '*************')
              $(`.dislike-count${post_id}`).html(parseInt(data['dislike']))
          }
          else {
              $(`.dislike-count${post_id}`).html(0)
              console.log(parseInt(data['dislike']), '*************')
          }
      }
  })
})

function showBankDetails(){
  $('#payment').modal('show');
}


function Report(){
  $('#Report').modal('show');
}

</script>

{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'IWatch/main.js' %}"></script>

{% endblock script %}