{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Upload{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'IWatch/style.css' %}>


<div style='margin-top:5em;' class='ui container-md'>
  <div class='ui raised black segment'>
    <h3>Upload video</h3>
    <hr>
    <!--Note-->
    <div class='ui info message'>
      <div class='header'>
        Note
      </div>
      <ul class='list'>
        <li>Video must be in less than 10 minutes</li>
        <li>These type of Content are not allowed:
          <div class="ui grid">
            <div class="ui row">
              <div class="ui ten column">
                <ul>
                  <li>Violence</li>
                  <li>Sexual Content</li>
                  <li>Spam</li>
                </ul>
              </div>
              <div class="ui eight wide column">
                <ul>
                  <li>Threats</li>
                  <li>Abuse</li>
                  <li>Illegal Content</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    <form action="" method='POST' class='ui form' enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_table }}
      <button class='ui large secondary button fluid mt-3' type='submit'>Upload</button>
    </form>
  </div>
</div>

{% endblock content %}