{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}
{% trans "Signup" %}
{% endblock %}

{% block content %}
<div style="margin-top: 3.8em" class='ui container'>
  <div class="ui grid">
    <div class="nine wide column">
    </div>
    <div class="seven wide column">
      <div class="signup_card">
        <h1>Create Account</h1>
        <form class="signup ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {% crispy form %}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class='ui secondary button fluid'>{% trans "Sign Up" %} &raquo;</button>
          <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
