{% extends "base.html" %}
{% block title %}varification{% endblock title %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock %}

{% block content %}

<div style='margin-top:7em;' class="ui container-md">
    <h1>{% trans "Verify Your Email Address" %}</h1>

    <h3>{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. {% endblocktrans %}</h3>
</div>
{% endblock %}
