{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>

<script>
console.log("from ------------------ Comments ------------------")

$('.commentForm').submit(function(e){
  e.preventDefault()
  
  const post_id = $(this).attr('id')
  const url = $(this).attr('action')
  const commentField = document.getElementById('commentbody');
  console.log(commentField.value, '*************')

  $.ajax({
      type: 'POST',
      url: '/zakat_posts/create_comment/',
      data: {
          'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
          'post_id':post_id,
          'body': commentField.value,
      }, 
      success: function(data) {
        $(`#comment_total${post_id}`).html(data['no_of_comments'])

          // if (parseInt(data['upvote']) > 0) {
          //     console.log(parseInt(data['upvote']), '*************')
          //     $(`.comment_total${post_id}`).html(99)
          // }
          // else {
          //     $(`.upvote-count${post_id}`).html(0)
          //     console.log(parseInt(data['upvote']), '*************')
          // }
      }
  })
  })
  
</script>