{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>



<script>
// *****************************************************************
// ***************  AJAX Comment FORM  ********************************
// *****************************************************************


const commentForm = document.getElementById('commentForm');
const commentField = document.getElementById('commentbody');
const postid = document.getElementById('post_id');
const csrf_comment = document.getElementsByName('csrfmiddlewaretoken')[0].value;


commentForm.addEventListener('submit', (e) => {
  e.preventDefault();

  mydata = {
    'csrfmiddlewaretoken': csrf_comment,
    'comment': commentField.value,
    'post_id': postid.value,
  }
  console.log(mydata, '************* commentField value')

  $.ajax({
    type: 'POST',
    url: '/zakat_posts/create_comment/',
    data: mydata,
    dataType: 'json',
    processData: false,  // tell jQuery not to process the data
    contentType: false, 
    success: function(data) {
      if(data.status=='save'){
        //console.log('your form has been submitted')
        $('#commentForm')[0].reset();
      }
    },
  })
  })
</script>