{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}

<!--************** Including Bootstrap ****************-->

{% block title %}Zakat Posts{% endblock title %}


{% block content %}

<link rel="stylesheet" type="text/css" href={% static 'zakat_posts/style.css' %}>


<div  class='ui container-xl'>
    <div class="ui grid">
    <div style = 'margin-top:3em;' class="row">
        <!--Zakat Form-->
        <div class="eleven wide column ">
            <div class="ui blue raised segment">
                <form  id='postform' method="POST" enctype="multipart/form-data" class='ui form'>
                    {% csrf_token %}
                    {{ p_form.as_table }}
                    <button class="ui button primary fluid" name="submit_p_form"  type="submit">Submit</button>
                </form>         
            </div>
        </div>
        {% comment %} {% include 'zakat_posts/form.html' %} {% endcomment %}
        {% comment %} <script type="text/javascript" src="{% static 'zakat_posts/form.js' %}"></script> {% endcomment %}

        <!--Instructions Eng & Urdu-->
        <div class="five wide column">
            <div class= 'ui red raised segment'>
                {% comment %} <h3>Instructions to fill form in two languages</h3>
                <button class="ui button b_English">English</button>
                <button class="ui button b_Urdu">Urdu</button> {% endcomment %}
                    <details>
                        <summary>
                            <strong>Instructions in English</strong>
                        </summary>
                        <div class='ui play details-content'>
                            {% if Production %}
                                <audio controls>
                                    <source src='https://savior-staticfiles.sgp1.cdn.digitaloceanspaces.com/static%2Faudio%2Fvideo1_eng.mp3'>
                                </audio>
                                <audio controls>
                                    <source src='https://savior-staticfiles.sgp1.digitaloceanspaces.com/static%2Faudio%2Fvideo2_eng.mp3'>
                                </audio>
                            {% else %}
                                <audio controls>
                                    <source src='/static/audios/video1_eng.mp3'>
                                </audio>
                                <audio controls>
                                    <source src='/static/audios/video2_eng.mp3'>
                                </audio>
                            {% endif %}

                            
                        </div>
                    </details>
                
                    <details>
                        <summary>
                            <strong>Instructions in Urdu</strong>
                        </summary>
                            <div class='details-content'>
                                {% if Production %}
                                <audio controls>
                                    <source src='https://savior-staticfiles.sgp1.cdn.digitaloceanspaces.com/static%2Faudio%2Fvideo1_urdu.mp3'>
                                </audio>
                                <audio controls>
                                    <source src='https://savior-staticfiles.sgp1.digitaloceanspaces.com/static%2Faudio%2Fvideo2_urdu.mp3'>
                                </audio>
                                {% else %}
                                    <audio controls>
                                        <source src='/static/audios/video1_urdu.mp3'>
                                    </audio>
                                    <audio controls>
                                        <source src='/static/audios/video2_urdu.mp3'>
                                    </audio>
                                {% endif %}
                            
                            </div>
                    </details>
                    <!--Read: How to post-->
                    <div>
                        <div class="ui tiny modal" id='how2post'>
                            <div class="header">How to Post ZakatPost</div>
                            <div class="content">
                            <h2>Urdu</h2>
                            <h3><b>
                            پہلی  ویڈیو میں آپ اپنے گھر کے حالات، مشکلات، اور ضروریات  کے بارے میں بتاۓ گے۔ اس کے بعد آپ آپنے گھر کےتمام افراد کو ایک ایک کر کے اسہی ویڈیو میں پانچ سیکنڈ تک بغیر کچھ بولے ریکوڈ کرے گے۔
                            </b></h3>
                            <h3><b>
                            دوسری ویڈیو میں آپ گھر کے تمام فرنیچر، الیکٹرانک آ ئیٹم، اور روز مرہ استعمال ہونے والی چیزو کو ریکوڈ کرے۔ ریکوڈنگ میں تمام چیزے کلیر دیکنی چاہیے۔
                            </b></h3>
                            <h3><b>

                            </b></h3>
                            </div>
                            <div class="content">
                            <h2>English</h2>
                            <h3><b>
                            In the first video, you will tell about the circumstances, problems, and needs of your home. After that, you will record each member of your home in the same video for five seconds without saying anything.
                            </b></h3>
                            <h3><b>
                            In the second video, you will record all the furniture, electrical items, and daily use items of your home. All items should be clear in recording.
                            </b></h3>
                            <h3><b>
                            After pressing Submit button, you will need to wait for 1 or 2 minutes then reload the website. Remember AI will take more than an hour to analyze your videos, once it is completed you will be notified!
                            </b></h3>
                            </div>
                            <div class="content">
                            <h2>Arabic</h2>
                                <h3><b>
                                في الفيديو الأول ، ستقوم بتحدث عن الظروف والمشاكل والاحتياجات في منزلك. بعد ذلك ، ستقوم بتسجيل كل عضو في منزلك في نفس الفيديو لمدة خمس ثوانٍ دونٍ تقول أي شيء.
                                </b></h3>
                                <h3><b>
                                في الفيديو الثاني ، ستقوم بتسجيل جميع الأثاث والأدوات الكهربائية وأدوات الاستخدام اليومي لمنزلك. يجب أن تكون جميع العناصر واضحة في التسجيل.
                                </b></h3>
                                <h3>
                                <b>
                                بعد الضغط على زر الإرسال ، ستحتاج إلى الانتظار لمدة دقيقة أو دقيقتين ثم إعادة تحميل الموقع. تذكر أن AI ستستغرق أكثر من ساعة لتحليل مقاطع الفيديو الخاصة بك ، بمجرد الانتهاء من ذلك سيتم إخطارك!
                                </b>
                                </h3>
                            </div>
                        </div>
                        <br>
                        <button class='ui label' onclick='how2post()'>Read: How to Post ZakatPost</button>
                    </div>
            </div>
        </div>      

    </div>
    {% comment %} <div id='Post-Box'></div> {% endcomment %}
    


    {% for obj in qs %}
    {% if obj.varified >= 50 and  not obj.satisfied %}
        <div class="row" id='buttons'>
            <div class=" eleven wide column ">
                <div class="ui blue raised segment">
                    {% if request.user == obj.creator.user %}
                    <a class="ui black right ribbon label">Post # {{ obj.post_number }}</a>
                    {% endif %}
                    <!--Herder line-->
                    <div class="ui grid">
                        <div class="row">
                            <div class="left floated  column eight wide fluid">
                                <!--Profile picture and created time-->
                                <a href="{% url 'profiles:myprofile' %}" >
                                <img class="ui avatar image" src={{obj.creator.picture.url}}> </a>
                                {{ obj.creator}} {{obj.creator.last_name}}
                                <br>({{ obj.created|timesince}} ago)
                            </div>

                            <div class="right floated column eight wide fluid ">
                                {% if request.user == obj.creator.user %}
                                    <a href="{% url 'zakat_posts:post-update' obj.pk %}"><button class="ui button bwhite-lg ">Update</button></a>
                                    <a href="{% url 'zakat_posts:post-delete' obj.pk %}"><button class="ui button  bwhite-lg ">Delete</button></a>
                                    {% endif %}
                                    <!--MODAL TO SHOW DETAIL OF USER-->
                                    <div class="ui tiny modal" id='Details'>
                                        <div class="header">Seeker Information</div>
                                        <div class="content">
                                        <p><strong>Name</strong> = {{obj.seeker}}</p>
                                        <p><strong>Phone Number</strong> = {{obj.phone_number}}</p>
                                        <p><strong>Bank Details</strong> = {{obj.bank_details}}</p>
                                        <p><strong>Address</strong> = {{obj.address}}</p>
                                        <p><strong>Remaining Amount</strong>= {{obj.needed_money|sub:obj.paid}} PKR</p>
                                        </div>

                                        <div class="header">Payment Method</div>
                                        <div class="content">
                                            <p><Strong>First:</Strong> Call seeker, and confirm his/her address, Bank details, and Needs.</p>
                                            <p><strong>Second:</strong> Pay to the seeker directly through Internet Banking (Sadapay, etc), or TCS.</p>
                                            <p><strong>Third:</strong> After paying the seeker, kindly let us know how much you have paid, so that we can track him/her.</p>
                                            <form action="{% url 'zakat_posts:paid'%}" method=post>
                                                {% csrf_token %}
                                                <input type="hidden" name="post_id" value={{obj.id}}>
                                                <input type="Number" placeholder='How much have you paid?' id='payment' name='amount' id={{obj.pk}}>
                                                <button type='submit' class='ui basic blue  button fluid'>Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--MODAL TO GIVE REPORT OF USER-->
                                    <div class="ui small modal" id='Report'>
                                        <div class="header">Report User</div>
                                        <div class="content">
                                            <div class="content">
                                                <h3>You are reporting Seeker ({{obj.seeker}})</h3>
                                                <h5>Please write your issue in details, if we find it valid, we will take action against the user.</h5><br>
                                            </div>
                                            <form action="{% url 'support:ReportZakatPostFunc'%}" method=post>
                                                {% csrf_token %}
                                                <input type="hidden" name="zp_id" value={{obj.id}}> 
                                                <input type="textarea" placeholder='What is your issue?' id='payment' name='problem' id={{obj.id}} width='400px'><br><br>
                                                <button type='submit' class='ui basic blue button fluid'>Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="ui tiny modal" id='donors'>
                                        <div class="header">All Donors</div>
                                        <div class="content">
                                            <div class="ui large list">
                                                {% for d in obj.donor.all %}
                                                    <div class="item">
                                                        <img class="ui avatar image" src={{d.picture.url}}>
                                                        <div class="content">
                                                            <a class="header" href="{% url 'profiles:profile-detail-view'  d.pk%}">{{d}}</a>
                                                            <div class="description">{{d.}}</div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    
                            </div>

                        </div>
                    </div>
                    <hr>

                    <!--video 1-->
                    <div class="ui grid">
                        <div class="row">
                            <div class="column eight wide">
                                {% if obj.video1 %}
                                <a href="{{obj.video1.url}}">  
                                    <video width="320" height="240" controls>
                                        <source src="{{obj.video1.url}}" type="video/mp4">
                                        {% comment %} <source src="{{obj.video1.url}}" type="video/mp4"> {% endcomment %}
                                    </video>
                                </a>
                            {% endif %}
                            </div>

                            <!--video 1-->
                            <div class="column eight wide">
                                {% if obj.video2 %}
                                <a href="{{obj.video2.url}}">  
                                    <video width="320" height="240" controls>
                                        <source src="{{obj.video2.url}}" type="video/mp4">
                                        {% comment %} <source src="{{obj.video2.url}}" type="video/mp4"> {% endcomment %}
                                    </video>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!--Content-->
                    <div class="content">
                        <p> {{ obj.content }} </p>
                    </div>
                    <hr>

                    <!--Commentes-->
                    {% comment %} action="{% url 'zakat_posts:create_comment' %}" {% endcomment %}
                    
                    
                    <form  method="POST"  id='{{obj.id}}' class='commentForm' >
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{obj.id}}>
                        {% comment %} {{ c_form | crispy }}     {% endcomment %}
                        {% comment %} <textarea name="content" id='comment{{obj.id}}' placeholder="comment here..." rows="2" cols="80"></textarea> {% endcomment %}
                        <input type="text" class="form-control" id='comment{{obj.id}}'  placeholder="Add your comment" upd="1" uid="2" />
                            
                        <button type="submit"  class="ui primary button commentbtn{{obj.id}}">Send</button>
                    </form>
                    {% comment %} {% include "zakat_posts/comment.html" %} {% endcomment %}
                    {% comment %} <script type="text/javascript" src="{% static 'zakat_posts/main.js' %}"></script> {% endcomment %}

                    <hr>
                    <!--Show Comments-->
                    <div class="row">
                    <details class='ui raised red segment'>
                        <summary  id='comment_total{{obj.id}}'><h5><b>{{ obj.num_comments }} Comments</b></h5></summary >
                        <div class="comment_scroll ui black raised segment ">
                        <div class="details-content ">
                                {% if obj.zakat_posts_comments.all %}
                                    {% for c in obj.zakat_posts_comments.all %}
                                        <div class="ui green raised segment" id='c_body'>
                                            <img class="ui avatar image" src={{c.user.picture.url}}>
                                            <span id='c_user{{obj.id}}'>{{ c.user }}</span>
                                            <p id='c_date{{obj.id}}'>{{c.created_at | timesince}}</p>
                                            <div class='' id='c_body{{obj.id}}' >{{ c.body }}</div>
                                        </div>
                                    {% endfor %}
            
                                {% endif %}
                        </div>
                    </div>
                    </details>
                    </div>

                </div>
            </div>
            <div class="five wide column">
                <div class= 'ui black raised segment'>
                    <div class="ui grid">
                    <div class="row">
                    <div class="column eight wide fluid">
                        <div class="ui items">
                            <!--UpVote-->
                            <div class="item">
                                <form action="{% url 'zakat_posts:upvote' %}" method="POST" class='upvote-form' id='{{obj.id}}'>
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{obj.id}}>
                                    <button type="submit" class="ui upvote_btn upvote-btn{{obj.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="40">
                                            <path d="M318 177.5c3.8-8.8 2-19-4.6-26l-136-144C172.9 2.7 166.6 0 160 0s-12.9 2.7-17.4 7.5l-136 144c-6.6 7-8.4 17.2-4.6 26S14.4 192 24 192h88l0 288c0 17.7 14.3 32 32 32h32c17.7 0 32-14.3 32-32l0-288h88c9.6 0 18.2-5.7 22-14.5z"/></svg>
                                        <span class="upvote-count{{obj.id}}">{{obj.upvote}}</span>   
                                    </button>upvote
                                </form>
                            </div>
                            <!--DownVote-->
                            <div class="item">
                                <form action="{% url 'zakat_posts:downvote' %}" method="POST" class='downvote-form' id='{{obj.id}}'>
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{obj.id}}>
                                    <button type="submit" class="ui upvote_btn downvote-btn{{obj.id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="20" height="40"><path d="M318 334.5c3.8 8.8 2 19-4.6 26l-136 144c-4.5 4.8-10.8 7.5-17.4 7.5s-12.9-2.7-17.4-7.5l-136-144c-6.6-7-8.4-17.2-4.6-26S14.4 320 24 320h88l0-288c0-17.7 14.3-32 32-32h32c17.7 0 32 14.3 32 32l0 288h88c9.6 0 18.2 5.7 22 14.5z"/></svg>
                                        <span class="downvote-count{{obj.id}}">{{obj.downvote}}</span>
                                    </button>downvote
                                </form>
                            </div>
                            

                            <!--Pay-->
                            <div class='item'>
                                <button   onclick='opendetail()' class='ui primary button'>Pay</button>
                            </div>

                            <div class='item'>
                                <button class='ui primary button' onclick='showDonors()   '>Donors</button>
                            </div>
                            <div class="item">
                                <button class='ui primary button' onclick='Report()'>Report</button>
                            </div>
                        </div>
                    </div>
                    <div class="column eight wide fluid">
                        <div class="item">
                            <!--NO of varified badge-->
                            <div class='item'>
                                <h2><strong>
                                    <a class="item">
                                        <div class="ui red horizontal label"><h5>AI Varification</h5></div><br>
                                        {{ obj.varified }}%
                                    </a>
                                </strong></h2>
                            </div>
                            <!--Needed Money-->
                            <div class="item">
                                <h2><strong>
                                    <a class="item">
                                        <div class="ui red horizontal label"><h5>Needed Money</h5></div>
                                        {{ obj.needed_money }}
                                    </a>
                                </strong></h2>
                            </div>

                            <!--Paid money-->
                            <div class="item">
                                <h2><strong>
                                    <a class="item">
                                        <div class="ui red horizontal label"><h5>Paid Money</h5></div>
                                        <br>
                                        {{ obj.paid }}
                                    </a>
                                </strong></h2>
                            </div>
                            <!--Satisfied-->
                            <div class="item">
                                <h2><strong>
                                    <a class="item">
                                        <div class="ui red horizontal label"><h5>Satisfied</h5></div>
                                        <br>
                                        {% if obj.satisfied %}
                                            <i class="check square icon"></i>
                                        {% else %}
                                        <i class="square full icon"></i>
                                        {% endif %}
                                    </a>
                                </strong></h2>        
                            </div>
                        </div>
                    
                    </div>
                    </div>
                    </div>
                </div>
            </div> 
        </div>
    {% endif %}
    {% endfor %}
</div>
</div>


{% endblock content %}
<script>
    
</script>


{% block script %}
<script type="text/javascript" src="{% static 'zakat_posts/main.js' %}"></script>
{% endblock script %}

