

body{
  background-color: rgb(214, 214, 214) !important; 
}

.nav{
  border-radius: 0% !important;
  font-size: 12px !important;
  background-color: #000 !important;
  /* margin-top: 0em !important;
  padding: 0em !important;
  overflow: hidden !important;
  /* position: fixed !important; */
  /* top: 0 !important;
  width: 100% !important; */
  /* height: 5em !important; */
  /* z-index: 1 !important; */

}

.mb{
  margin: 1em !important;
  padding: 0.4em !important; 
  word-spacing: 0em !important;
  font-size: 0.9em !important;
  font-weight: 1000 !important;
  color: #fff !important;
}




/* for posts/main.html*/
.mb-5 {
  margin-bottom: 5px !important;
}

/* for profiles/profile_list.html--> buttons*/
.btn_size {
  width: 200px !important;
}

.bwhite-lg {
  background-color: transparent !important;
}

.bwhite-sm {
  background-color: transparent !important;
  width: 10px !important;
}

.comment-box {
  display: none;
}

/* details {
  padding: 5 5 5 5 !important;
} */


/* nofitication scroll bar */
.scroll{
  height: 100% !important;
  overflow: scroll !important;
}

/* scrolling for comments */
.comment_scroll{
  height: 20em !important;
  overflow: scroll !important;
  overflow-x: hidden !important;
  overflow-inline: hidden !important;
}

.comment_segment{
  height: 50px !important;
  padding : 0.5em !important;
  margin : 0.5em !important;
  border: 1px solid rgb(6, 6, 6) !important;
  border-radius: 1em !important;
}

.upvote_btn {
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  font-size: 1.5em !important;
  font-weight: 1000 !important;
}



/* ======================================================================  */
/* ===================== Plyr for playing Video ========================== */
/* ======================================================================= */
:root {
  --plyr-color-main: #fd0101;
}
