body{
  background-color: rgb(214, 214, 214) !important; 
}

.nav{
  border-radius: 0% !important;
  font-size: small !important;
  background-color: #000 !important;
}

.mb{
  margin: 1em !important;
  padding: 0.4em !important; 
  word-spacing: 0em !important;
  font-size: 0.9em !important;
  font-weight: 1000 !important;
  color: #fff !important;
}




/* for posts/main.html*/
.mb-5 {
  margin-bottom: 5px !important;
}

/* for profiles/profile_list.html--> buttons*/
.btn_size {
  width: 200px !important;
}

.bwhite-lg {
  background-color: transparent !important;
}

.bwhite-sm {
  background-color: transparent !important;
  width: 10px !important;
}

.comment-box {
  display: none;
}

/* details {
  padding: 5 5 5 5 !important;
} */


.field1 {
  margin-bottom: 1em !important;
  margin-left: 0em !important;
  margin-right: 2.5em !important;  
  border-radius: 1em !important;
  width: 24em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}
/*field1 hover*/
.field1:hover {
  border:  2px solid rgb(84, 192, 255) !important;
  border-radius: 1em !important;
}

.field2 {
  margin-bottom: 1em !important;
  margin-left: 0.5em !important;
  margin-right: 0em !important;  
  border-radius: 1em !important;
  width: 23em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}
.field2:hover {
  border:  2px solid rgb(84, 192, 255) !important;
  border-radius: 1em !important;
}

.field3 {
  margin-bottom: 1em !important;
  margin-left: 0.2em !important;
  margin-right: 2.5em !important;  
  border-radius: 1em !important;
  width: 24em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}
.field3:hover {
  border:  2px solid rgb(84, 192, 255) !important;
  border-radius: 1em !important;
}

.field4 {
  margin-bottom: 1em !important;
  margin-left: 0.2em !important;
  margin-right: 0em !important;  
  border-radius: 1em !important;
  width: 23em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}
.field4:hover {
  border:  2px solid rgb(84, 192, 255) !important;
  border-radius: 1em !important;
}

.field5 {
  margin-bottom: 1em !important;
  margin-left: 0.2em !important;
  margin-right: 1em !important;  
  border-radius: 1em !important;
  width: 100% !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}
.field5:hover {
  border:  2px solid rgb(255, 143, 52) !important;
  border-radius: 1em !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.css_form {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 1em;
}


/* nofitication scroll bar */
.scroll{
  height: 100% !important;
  overflow: scroll !important;
}

/* scrolling for comments */
.comment_scroll{
  height: 20em !important;
  overflow: scroll !important;
  overflow-x: hidden !important;
  overflow-inline: hidden !important;
}

.comment_segment{
  height: 50px !important;
  padding : 0.5em !important;
  margin : 0.5em !important;
  border: 1px solid rgb(6, 6, 6) !important;
  border-radius: 1em !important;
}

.upvote_btn {
  background-color: transparent !important;
  border: none !important;
  color: #000 !important;
  font-size: 1.5em !important;
  font-weight: 1000 !important;
}


