{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <!--Custom css -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    {% endblock css %}
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    

    

  
    <title>Family Savior - {% block title %}{% endblock title %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <header>
    {% include "main/navbar.html" %}
  </header>
  <body>
    <!--For messages to show-->
    {% if messages %}
    <div>      
        {% for message in messages %}
        <div class="ui green message"><strong>{{message}}</strong></div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="ui container">
      {% block content %}
      {% endblock content %}
    </div>
    

    <!--Extra body incase of other uses-->
    {% block extra_body %}
    {% endblock %}

    {% block scripts %}
    {% endblock scripts %}
  
    
  <!--Custom js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
  <script type="text/javascript" src={% static 'main.js' %}>
  </script>
  </body>
</html>