{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Custom css -->
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    
    
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    

    

  
    <title>Family Savior - {% block title %}{% endblock title %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <header>
    {% include "main/navbar.html" %}
  </header>
  <body>
    <!--For messages to show-->
    <div class="ui small container">
    {% if messages %}
      <div>      
          {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="ui positive message" id = 'message_container'>
              <i class="close icon"></i>
              div class="header">{{message}}</div>
            </div>  
            {% elif message.tags == 'info' %}
            <div class="ui info message" id='message_container'>
              <i class="close icon"></i>
              <div class="header">{{message}}</div>
            </div>  
            {% elif message.tags == 'warning' %}
            <div class="ui warning message" id='message_container' >
              <i class="close icon"></i>
              <div class="header">{{message}}</div>
            </div>  
            {% elif message.tags == 'error' %}
            <div class="ui negative message" id='message_container'>
              <i class="close icon"></i>
              <div class="header">{{message}}</div>
            </div>  
            {% endif %}
          {% endfor %}
      </div>
      {% endif %}
    </div>

    {% comment %} {% block messages %}
    {% if messages %}
    <ul class="messages">
      
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }} ui message"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
  {% endif %}
    {% endblock messages %} {% endcomment %}
    

    
    <div class="ui container">
      {% block content %}
      {% endblock content %}
    </div>
    

    <!--Extra body incase of other uses-->
    {% block extra_body %}
    {% endblock %}

    {% block scripts %}
    {% endblock scripts %}
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  
  <!-- semantic UI -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>

  <!--Custom js -->
  <script type="text/javascript" src={% static 'main.js' %}>
  </script>

  <script>
    // suppose the `id` attribute of element is `message_container`.
    var message_ele = document.getElementById("message_container");

    setTimeout(function(){ 
      message_ele.style.display = "none"; 
    }, 13000);
    // Timeout is 3 sec, you can change it
  </script> 
</body>
</html>