<!-- simple 500.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Internal Server Error</title>
</head>
<body>
    <center>
    <h1>Internal Server Error</h1>
    <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
    <p>Kindly let us know what did you try to access, and what you clicked on?</p>
    
    
    <div class="ui tiny modal" id='SaviorIssues'>
        <div class="header">Report Error</div>
        <div class="content">
            <form action="{% url 'support:ReportSaviorProblemFunc'%}" method=post>
                {% csrf_token %}
                <input type="text" placeholder='Write your issue' name='problem'>
                <button type='submit'>Submit</button>
            </form>
        </div>
    </div>
</center>
    </body>
</html>

<script>
    function SaviorIssues(){
        $('#SaviorIssues').modal('show');
    }
</script>