{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
User Credentials
{% endblock title %}

{% block content %}
<div class="ui container-md">
  <div style='margin-top:5em;' class='ui segment'>
    <h3>Update User Info</h3>
    <form action="" method='POST' class='ui form' enctype='multipart/form-data'>
      {% csrf_token %}
      {% crispy form %}

      <a href="{% url 'account_change_password' %}" class="ui secondary button">
        <i class="key icon"></i>Change Password
      </a>
      <button class='ui button primary mt-5' type='submit'>Update</button>
    </form>
  </div>
</div>
{% endblock content %}