/* do not group these rules */
*::-webkit-input-placeholder {
  color: rgb(22, 20, 20);
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: rgb(10, 9, 9);
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: rgb(10, 9, 9);
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(10, 9, 9);
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(10, 9, 9);
}
*::placeholder {
  /* modern browser */
  color: rgb(10, 9, 9);
}

.field1 {
  margin-bottom: 1em !important;
  margin-left: 0em !important;
  margin-right: 2.5em !important;  
  border-radius: 1em !important;
  width: 24em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}


#field2_0 {
  margin-bottom: 1em !important;
  margin-left: 0em !important;
  margin-right: 0em !important;  
  border-radius: 1em !important;
  width: 10em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
  display: inline;
}



#field2_1{
  margin-bottom: 1em !important;
  margin-left: 0em !important;
  margin-right: 0em !important;  
  border-radius: 1em !important;
  width: 15em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}


.field3 {
  margin-bottom: 1em !important;
  margin-left: 0.2em !important;
  margin-right: 2.5em !important;  
  border-radius: 1em !important;
  width: 24em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}


.field4 {
  margin-bottom: 1em !important;
  margin-left: 0.2em !important;
  margin-right: 0em !important;  
  border-radius: 1em !important;
  width: 24.5em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}


.field5 {
  margin-bottom: 1em !important;
  margin-left: 0em !important;
  margin-right: 3em !important;  
  border-radius: 1em !important;
  width: 20em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}
.field4 label{
  font-size: large;
  font-weight: bold;
  color: rgb(6, 6, 6);

}


.field6 {
  margin-bottom: 1em !important;
  margin-left: 0em !important;
  margin-right: 0em !important;  
  border-radius: 1em !important;
  width: 20em !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}


.field7 {
  margin-bottom: 1em !important;
  margin-left: 0.2em !important;
  margin-right: 1em !important;  
  border-radius: 1em !important;
  width: 100% !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}

.field8 {
  margin-bottom: 1em !important;
  margin-left: 0.2em !important;
  margin-right: 1em !important;  
  border-radius: 1em !important;
  width: 100% !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}


.css_form {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 1em;
}


#Details{
  border-radius: 1em !important;
  width: 400px !important;
  border:  1px solid rgb(6, 6, 6) !important;
}

#payment{
  border-radius:5px !important;
  width: 100% !important;
  height: 2em !important;
  border:  1px solid rgb(6, 6, 6) !important;
}