django-dotenv
Django==4.1.5
Celery
whitenoise
django-celery-results==2.4.0
django-celery-beat==2.4.0
djangorestframework
markdown
django-filter
django-allauth
django-notifications-hq
django-crispy-forms
django-phonenumber-field[phonenumbers]
django-mathfilters
django-hitcount
Babel
numpy
opencv-python
pandas
deepface
moviepy
transformers[torch]
openai-whisper
setuptools-rust
ffmpeg-python
matplotlib
gunicorn
psycopg2-binary
requests
django-storages
boto3