.body {
  background-color: #ff0a0a;
}

.css-after {
  position: relative;
}

.css-after img {
  position: relative;
  margin: 2em;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 2px solid #10100d;
}

.img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}



.profile_card{
  size: 7em;
}