body{
  background-color: rgb(214, 214, 214) !important; 
}

.nav{
  border-radius: 0% !important;
  font-size: small !important;
  background-color: #000 !important;
}

.mb{
  margin: 1px !important;
  padding: 0.4em !important; 
  word-spacing: 0em !important;
  font-size: 0.9em !important;
  font-weight: 1000 !important;
  color: #fff !important;
}




/* 
.mymodel {
  height: 300px !important;
  top: 200% !important;
  font-size: 20px !important;
} */

/* for posts/main.html*/
.mb-5 {
  margin-bottom: 5px !important;
}

/* for profiles/profile_list.html--> buttons*/
.btn_size {
  width: 200px !important;
}

.bwhite-lg {
  background-color: transparent !important;
}

.bwhite-sm {
  background-color: transparent !important;
  width: 10px !important;
}

.comment-box {
  display: none;
}

/* details {
  padding: 5 5 5 5 !important;
} */


.field1 {
  margin-bottom: 2vw !important;
  margin-left: 0.3vw !important;
  margin-right: 2vw !important;  
  border:  1px solid rgb(6, 6, 6) !important; 
}

.field2 {
  margin-bottom: 2vw !important;
  margin-left: 0.3vw !important;
  margin-right: 2vw !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}

.field3 {
  margin-left: 1.2vw !important;
  margin-bottom: 2vw !important;
  margin-right: 3vw !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}

.field4 {
  margin-left: 0.3vw !important;
  margin-bottom: 1vw !important;
  margin-right: 2vw !important;
  border:  1px solid rgb(6, 6, 6) !important; 
}



.css_form {
  margin: 0.5em;
  padding: 1em;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 1em;
}


/* nofitication scroll bar */
.scroll{
  height: 100%;
  overflow: scroll;
}
