<div class="row">
  <div class="ui three wide column">
    <div class="profile">
      <img class="ui medium circular image" src="{{profile_picture.url}}" />
      <div>
        <h3>{{ profile.user }}</h3>
      </div>
    </div>
  </div>
  <div class="ui thirteen wide column">
    <div class="ui segment">
      <h1><i>it's time to change everything!</i></h1>
    </div>
    <!--Buttons of edit profile-->
    <div class="ui grid">
      <div class="row">
        <button class="ui primary button">Edit</button><br />
        <button class="ui primary button">Follow</button>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div style="margin-top: 30px" class="ui container">
    <div class="ui segment">
      <div class="ui tiny steps">
        <div class="step">
          <i class="truck icon"></i>
          <div class="content">
            <div class="title">Shipping</div>
            <div class="description">Choose your shipping options</div>
          </div>
        </div>
        <div class="active step">
          <i class="payment icon"></i>
          <div class="content">
            <div class="title">Billing</div>
            <div class="description">Enter billing information</div>
          </div>
        </div>
        <div class="disabled step">
          <i class="info icon"></i>
          <div class="content">
            <div class="title">Confirm Order</div>
            <div class="description">Verify order details</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>