{% extends 'base.html' %}
{% load static %}

{% block title %}
All Profiles
{% endblock title %}


{% block content %}

  <link rel="stylesheet" type="text/css" href={% static 'profiles/style.css' %}>
  <div style="margin-top: 7em" class="ui container-xl">
    <!-- if no people -->
  {% if is_empty %}
    No People to interact with
  {% endif %}

  <h2>{{view_profile.user.full_name}}'s Followers</h2>
  <!-- People to show -->
 
  <div class="ui six cards">
    {% for obj in  followers_profiles %}
      <a href="{% url 'profiles:profile-detail-view' obj.pk %}">
        <div id='card1'class="card">
          <div class="ui small image ">
            <img src="{{obj.avatar.url}}">
          </div>
          <div class="content">
            <div class="header">{{obj.user.full_name}}</div>
            <div class="meta">
              <a href="{% url 'profiles:profile-detail-view' obj.pk %}">@{{obj.user.username}}</a>
            </div>
            <i class="user icon"></i>
              {{obj.get_followers|length}} Followers
          </div>

          <div>
            {% if my_profile in obj.get_followers %}
            <div class="ui right floated">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui large secondary button' type='submit' id='status{{obj.pk}}'>UnFollow</button>
              </form>
            </div>
            {% elif obj == my_profile %}
              <div class="ui right floated">
                <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                  {% csrf_token %}
                  <input type="hidden" name="profile_pk" value={{obj.pk}}>
                  <button class='ui large secondary button' type='submit' id='status{{obj.pk}}'>Following</button>
                </form>
              </div>
            {% elif obj in my_profile.get_followers%}
            <div id='rem_folback_btn' class="ui menu">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui mini secondary button' type='submit' id='status{{obj.pk}}'>Follow Back</button>
              </form>
              <a href=" {% url 'profiles:remove-follower'  obj.pk %} ">
                <button class='ui secondary button' type='submit'>Remove</button>
              </a>
            </div>
            
            {% else %}
            <div class="ui right floated">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui large secondary button' type='submit' id='status{{obj.pk}}'>Follow</button>
              </form>
            </div>
            {% endif %}
          </div>
          </div>
        </div>
      </a>
  

    {% endfor %}
  </div>
  </div>
{% endblock content %}

{% comment %} 

<div class='ui segment'>
      <div class="ui grid">
        <div class="row">
          <div class="three wide column">
            <img class="ui small circular image" src="{{ obj.avatar.url }}">
          </div>
          <div class="thirteen wide column">
            <h3>{{ obj.user.username }}</h3>
            <p>{{ obj.bio }}</p>
            <a href=" {% url 'profiles:profile-detail-view' obj.pk %} ">
              <button class='ui primary button sizebtn mb-5'>See Profile</button>
            </a>
            <br>
          
            {% if obj.user not in rel_receiver and obj.user not in rel_sender%}
            <form action="{% url 'profiles:send-invite' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{obj.pk}}>
                <button type='submit' class='ui positive basic button sizebtn mb-5'><i class='plus square icon'></i>Add to Friends</button>
            </form>
            {% endif %}
            
            {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
              <button class='ui disabled button'>
                <i class='user icon sizebtn mb-5'></i>
                Pending...
              </button>
            {% endif %}

            <!--to remove from firend list-->
            {% if request.user in obj.friends.all %}
            <form action="{% url 'profiles:remove-friend' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{obj.pk}}>
              
              <button class='ui negative basic button'>
                <i class='minus square icon sizebtn mb-5'></i>
                Remove from Friends
              </button>
            </form>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

{% endcomment %}








