{% extends 'base.html' %}
{% load static %}

{% block title %}
Following
{% endblock title %}


{% block content %}

  <link rel="stylesheet" type="text/css" href={% static 'profiles/style.css' %}>
  <div style="margin-top: 20px" class="ui container-xl">
    <!-- if no people -->
  {% if is_empty %}
    No People to interact with
  {% endif %}
  <!-- People to show -->
  <h1>You Follow these peoples</h1>
  <div class="ui six cards">
    {% for obj in  profiles %}
      <a href="{% url 'profiles:profile-detail-view' obj.pk %}">
        <div class="card">
          <div class="ui small image">
            <center><img src="{{obj.avatar.url}}"></center>
          </div>
          <div class="content">
            <div class="header">{{obj.user.full_name}}</div>
            <div class="meta">
              <a>@{{obj.user.username}}</a>
            </div>
            <div class="description">
              {{obj.bio}}
            </div>
          </div>
          <div class="extra content">
            <span>
              <i class="user icon"></i>
              {{obj.get_followers|length}} Followers
            </span>
            <div class="ui right floated">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui large secondary button' type='submit'>Unfollow</button>
              </form>
            </div>
          </div>
        </div>
      </a>
  

    {% endfor %}
  </div>
  </div>
{% endblock content %}

{% comment %} 

<div class='ui segment'>
      <div class="ui grid">
        <div class="row">
          <div class="three wide column">
            <img class="ui small circular image" src="{{ obj.avatar.url }}">
          </div>
          <div class="thirteen wide column">
            <h3>{{ obj.user.username }}</h3>
            <p>{{ obj.bio }}</p>
            <a href=" {% url 'profiles:profile-detail-view' obj.pk %} ">
              <button class='ui primary button sizebtn mb-5'>See Profile</button>
            </a>
            <br>
          
            {% if obj.user not in rel_receiver and obj.user not in rel_sender%}
            <form action="{% url 'profiles:send-invite' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{obj.pk}}>
                <button type='submit' class='ui positive basic button sizebtn mb-5'><i class='plus square icon'></i>Add to Friends</button>
            </form>
            {% endif %}
            
            {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
              <button class='ui disabled button'>
                <i class='user icon sizebtn mb-5'></i>
                Pending...
              </button>
            {% endif %}

            <!--to remove from firend list-->
            {% if request.user in obj.friends.all %}
            <form action="{% url 'profiles:remove-friend' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{obj.pk}}>
              
              <button class='ui negative basic button'>
                <i class='minus square icon sizebtn mb-5'></i>
                Remove from Friends
              </button>
            </form>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

{% endcomment %}








