
{% extends 'base.html' %} 
{% load static %}
{% block title %}{{profile.user.username}}{% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'profiles/style.css' %}>

<div style="margin-top: 4em;"  class="ui container-xl ">
  <div class="ui segment">
    <div class="ui grid">
    <!--Proflie introduction!-->
      <div class="row">
        <i><h1 style="text-align: center">{{profile.slogan}}</h1></i>
      </div>

      <div class="row">
        <div class="ui grid">
          <div class="nine wide column">
            <div class="ui items">
              <div class="item">
                <div class="css-after">
                  <img class='' src="{{profile.picture.url}}">
                </div>
                <div class="content">
                  <h2>{{profile.user.username}} 
                    {% if request.user == profile.user %}
                    <a href="{% url 'user:user-update' my_profile.pk %}">
                      <i class="fa-solid fa-user-pen"></i>
                    </a>
                    {% endif %}
                  </h2>
                  <h4>{{profile.user.full_name}}</h4>
                  
                  {% if request.user != profile.user %}
                    {% if my_profile in profile.get_followers %}
                      <div class="ui left floated">
                        <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{profile.pk}}'>
                          {% csrf_token %}
                          <input type="hidden" name="profile_pk" value={{profile.pk}}>
                          <button class='ui large secondary button' type='submit' id='status{{profile.pk}}'>UnFollow</button>
                        </form>
                      </div>
                    {% elif profile in my_profile.get_followers%}
                    <div class="ui compact menu">
                      <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{profile.pk}}'>
                        {% csrf_token %}
                          <input type="hidden" name="profile_pk" value={{profile.pk}}>
                          <button class='ui mini secondary button' type='submit' id='status{{profile.pk}}'>Follow Back</button>
                      </form>
                      <br>
                        <a href=" {% url 'profiles:remove-follower'  profile.pk %} ">
                          <button class='ui mini secondary button' type='submit'>Remove from my follower</button>
                        </a>
                    </div>
                  {% else %}
                      <div class="ui left floated">
                        <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{profile.pk}}'>
                          {% csrf_token %}
                          <input type="hidden" name="profile_pk" value={{profile.pk}}>
                          <button class='ui large secondary button' type='submit' id='status{{profile.pk}}'>Follow</button>
                        </form>
                      </div>
                    {% endif %}

                  {% else %}
                      <a href="{% url  'profiles:profile-update' user.pk %}">
                        <button class="ui large secondary button">Edit Profile</button>
                      </a>                
                  {% endif %}
                  


                  <br><br>
                  <div class="description">
                    <div class="ui blue labels">
                      
                      {% if user == profile.user %}
                        {% if myfollowers > 1 %}
                          <a href=" {% url 'profiles:followers' profile.pk %} ">
                            <div class="ui label">{{myfollowers}}&#160;&#160;
                              Followers
                            </div>
                          </a>
                        {% else %}
                          <a href=" {% url 'profiles:followers' profile.pk %} ">
                            <div class="ui label">{{profile.get_follower_no}}&#160;&#160;
                              Follower
                            </div>
                          </a>
                        {% endif %}

                        
                      {% else %}
                        <a href=" {% url 'profiles:followers' profile.pk %} ">
                          <div class="ui label">{{profile.get_follower_no}}&#160;&#160;
                            Followers
                          </div>
                        </a>
                      {% endif %}
                      
                      
                      {% if user == profile.user %}
                      <a href="{% url 'profiles:following' profile.pk %}">
                        <div class="ui label" data-tooltip="only you can see, who you follow" data-position="bottom left"><b>{{profile.get_following_no}}</b>&nbsp; Following
                        </div>
                      </a>
                      {% endif %}
                      
                    
                      <div class="ui label"><b>{{profile.get_post_no}} &nbsp; IWatch Posts</b></div>
                      <div class="ui label"><b>{{profile.get_zakat_posts_no}}</b> &nbsp;Zakat Posts</div>
                      <br>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>
          <div class="seven wide column">
            <div class='information'>
              {% if profile.intro %}
              <h3>Introduction</h3><p style='width: 33em;'>{{profile.intro}}</p>
              {% endif %}
              {% if profile.profession %}
              <span><strong>Profession</strong></span>:&nbsp;&nbsp;&nbsp;{{profile.profession}} <br>
              {% endif %}
              {% if profile.cur_add %}
              <span><strong>Address</strong></span>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{profile.cur_add}} <br>
              {% endif %}
              {% if profile.phone_number %}
              <span><strong>Phone #</strong></span>: &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;{{profile.phone_number}}<br>
              {% endif %}
              <span><strong>Religion</strong></span>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.religion}} <br>
              {% if request.user == profile.user %}
                {% if profile.total_IWatchIncome %}
                  <div class="ui label" data-tooltip="Only you can see your following" data-position="bottom left">Your total income from IWatch is <strong>{{profile.total_IWatchIncome}}</strong>
                  </div>
                {% endif %}
              {% endif %}
            </div>

            <div class="ui dropdown" style='float:right;  position: absolute; bottom: 0; right:0; margin-bottom:1em; '>
              <div class="ui modal" id='ReportUser'>
                {% if my_profile != profile %}
                <div class="header">Report {{profile.user.full_name}}</div>
                  <div class="content">
                      <form action="{% url 'support:ReportUserFunc' %}" method=post>
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value={{profile.pk}}> 
                        <input type="text" placeholder='What did he do?' id='ReportUser' name='problem' id={{profile.pk}} width='400px'>
                        <button type='submit' class='ui basic blue button fluid'>Submit</button>
                    </form>
                  </div>
                  {% else %}
                  <div class="header">You can't report yourself</div>
                  {% endif %}
              </div>
              <i class="list ul icon large"></i>
              <div class="menu">
                <div class="item">
                  <a onclick='ReportUser()'>
                    <i class="flag icon"></i>
                    Report User
                  </a>
                </div>
              </div>


            </div>
          </div>
          
        </div>
      </div>
      
    </div>    
  </div>
</div>


<div style="margin-top: 20px" class="ui container-xl">
  <div class="ui grid">
    <div class="ui row">
      <div style='width:50em; margin-left:17%' class="ui menu">
        <button style='margin-left:33%;' class="ui black basic button">
          <a href="{% url 'profiles:zakat_posts' profile.pk %}">
            Zakat Posts
          </a>
        </button>
        <br>
        <button style='margin-right:33%;' class="ui black basic button">
        <a href="{% url 'profiles:iwatch' profile.pk %}">
          IWatch
        </a>
        </button>
      </div>
    </div>
  </div>
</div>
  
  <!--in prof_zakat_posts, I applied conditon that fetch all those post where user is creator-->
  <!--by default this will be shown-->

<div style="margin-top: 20px" class="ui container-xl ">

  {% block posts %}
    {% if IWatch %}
      <div style='margin-left:4.5em;'>
        {% include "profiles/profile_IWatch.html" %}
      </div>
      {% else %} <!--else ZakatPosts-->
      {% include "profiles/profile_Zakat_posts.html" %}
    {% endif %}
  {% endblock posts %} 

</div>



<script src= "{% static 'profiles/main.js' %}" defer></script>
{% endblock content %}

{% block script %}
<script>
  function ReportUser(){
    $('#ReportUser').modal('show');
  }
</script>
{% endblock script %}


