{% extends 'base.html' %}
{% load static %}
{% block title %}
People
{% endblock title %}


{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'profiles/style.css' %}>
  

<div style='margin-top:5em;' class="search_bar">
    <form action="{% url 'profiles:search-user' %}" method="GET"> 
      {% csrf_token %}
        <div id='search_bar' class="ui right action left icon input">
            <i class="search icon"></i>
            <input  type="text" name='query' id='search_here' value='{{ request.GET.query }}' placeholder="name of a friend...">
            <a href="{% url 'profiles:all-profiles' %}">
              <i id='cross' class="fa-solid fa-xmark ui large"></i>
            </a>
            <button type='submit' class="ui button">Search</button>
        </div>
    </form>
</div>

<div style="margin-top: 1em" class="ui container-xl">
  {% if search_list %}
    <h1>😊 Found {{search_list|length}} results for "{{request.GET.query}}"</h1><br>
  {% endif %}
  <div class="ui six cards">
  {% for obj in  search_list %}
    <a href="{% url 'profiles:profile-detail-view' obj.pk %}">
      <div id='card1'class="card">
        <div class="ui small image ">
          <img src="{{obj.picture.url}}">
        </div>
        <div class="content">
          <div class="header">{{obj.user.full_name}}</div>
          <div class="meta">
            <a href="{% url 'profiles:profile-detail-view' obj.pk %}">@{{obj.user.username}}</a>
          </div>
          <i class="user icon"></i>
            {{obj.get_followers|length}} Followers
        </div>
        <div>
          {% if obj.user in my_profile.get_following %}
            <div class="ui right floated">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui small secondary button' type='submit' id='status{{obj.pk}}'>Unfollow</button>
              </form>
            </div>
          {% elif obj in my_profile.get_followers%}
            <div class="ui right floated">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui small secondary button' type='submit' id='status{{obj.pk}}'>Follow Back</button>
              </form>
            </div>
          {% else %}
            <div class="ui right floated">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui small secondary button' type='submit' id='status{{obj.pk}}'>Follow</button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </a>
  {% endfor %}
  </div>
</div>

<div style="margin-top: 1em" class="ui container-xl">
  <!-- if no people -->
  <h1>People around the World</h1>
  <!-- People to show -->
  <div class="ui six cards">
    {% for obj in  profiles %}
      <a href="{% url 'profiles:profile-detail-view' obj.pk %}">
        <div id='card1' class="card">
          <div class="ui small image">
            <img src="{{obj.picture.url}}">
          </div>
          <div class="content">
            <div class="header">{{obj.user.full_name}}</div>
            <div class="meta">
              <a href="{% url 'profiles:profile-detail-view' obj.pk %}">@{{obj.user.username}}</a>
            </div>
            <i class="user icon"></i>
              {{obj.get_followers|length}} Followers
          </div>
          <div>
            {% if my_profile in obj.get_followers %}
          <div class="ui right floated">
            <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
              {% csrf_token %}
              <input type="hidden" name="profile_pk" value={{obj.pk}}>
              <button class='ui large secondary button' type='submit' id='status{{obj.pk}}'>UnFollow</button>
            </form>
          </div>
          {% elif obj == my_profile %}
            <div class="ui right floated">
              <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
                {% csrf_token %}
                <input type="hidden" name="profile_pk" value={{obj.pk}}>
                <button class='ui large secondary button' type='submit' id='status{{obj.pk}}'>Following</button>
              </form>
            </div>
          {% elif obj in my_profile.get_followers%}
          <div id='list_rem_folback_btn' class="ui menu">
            <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
              {% csrf_token %}
              <input type="hidden" name="profile_pk" value={{obj.pk}}>
              <button class='ui mini secondary button' type='submit' id='status{{obj.pk}}'>Follow Back</button>
            </form>
            <br>
            <a href=" {% url 'profiles:remove-follower'  obj.pk%} ">
              <button class='ui mini secondary button' type='submit'>Remove</button>
            </a>
          </div>
          {% else %}
          <div class="ui right floated">
            <form action="{% url 'profiles:follow-unfollow-profile' %}" method=post class='follow_unfollow' id='{{obj.pk}}'>
              {% csrf_token %}
              <input type="hidden" name="profile_pk" value={{obj.pk}}>
              <button class='ui large secondary button' type='submit' id='status{{obj.pk}}'>Follow</button>
            </form>
          </div>
          {% endif %}
          </div>
        </div>
      </a>
  

    {% endfor %}
  </div>
</div>


{% endblock content %}






