{% extends 'base.html' %}

{% block title %}
Profile Details
{% endblock title %}

{% block content %}
  <br>
  <div class="ui segment">
    <div class="ui grid">
      <div class="row">
        <div class="four wide column">
          <image src="{{object.avatar.url}}" alt="" class="ui medium rounded image">
          <h3>{{object.user}}</h3>
          <div class="ui vertical fluid menu">
            <div class="item">
              Posts
              <div class="ui label">{{object.get_posts_no}}</div>
            </div>

            <div class="item">
              Likes Given
              <div class="ui label">{{object.get_likes_given_no}}</div>
            </div>

            <div class="item">
              Likes Achieved
              <div class="ui label">{{object.get_likes_recieved_no}}</div>
            </div>

            <div class="item">
              Total Friends
              <div class="ui label">{{object.get_friends_no}}</div>
            </div>
          </div>
          
          <!--Button for Request and same logic as we did in profile_list.-->
          {% if object.user not in rel_receiver and object.user not in rel_sender%}
            <form action="{% url 'profiles:send-invite' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{object.pk}}>
                <button type='submit' class='ui positive basic button mb-5 btn_size'><i class='plus square icon'></i>Add to Friends</button>
            </form>
            {% endif %}
            <!--Pending Button-->
            {% if object.user in rel_receiver and request.user not in object.friends.all %}
              <button class='ui disabled button'>
                <i class='user icon mb-5 btn_size'></i>
                Pending...
              </button>
            {% endif %}

            <!--to remove from firend list-->
            {% if request.user in object.friends.all %}
            <form action="{% url 'profiles:remove-friend' %}" method='POST'>
              {% csrf_token %}
              <input type="hidden" name='profile_pk' value={{object.pk}}>
              <button class='ui negative basic button'>
                <i class='minus square icon mb-5 btn_size'></i>
                Remove from Friends
              </button>
            </form>
            {% endif %}
        </div>

        <div class="twelve wide column">
          {% if len_posts %}
            {% for post in posts  %}
              <div class="segment ui fluid">
                {{post.content}}
              </div>
            {% endfor %}
          {% else %}
              <h1> No Posts!</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}