{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Update {{user.username}}{% endblock title %}
<link rel="stylesheet" type="text/css" href={% static 'profiles/style.css' %}>

{% block content %}

<div style = 'margin-top:30px;' class='ui container-md'>
  <div class='ui raised black segment'>
    <h3>Update Profile</h3>
    <p>Leave the field blank, if you don't want to show. </p>
    <form action="" method='POST' class='ui form' enctype='multipart/form-data'>
      {% csrf_token %}
      {% crispy form %}
      <button class='ui large secondary button fluid mt-3' type='submit'>Update</button>
    </form>
  </div>
</div>
{% endblock content %}